# SPDX-FileCopyrightText: 2021 Andrius Štikonas <andrius@stikonas.eu>
# SPDX-FileCopyrightText: 2021 fosslinux <fosslinux@aussies.space>
#
# SPDX-License-Identifier: MIT 

tmp/
kernel
sysa/distfiles/
sysc/distfiles/
__pycache__
sysa/bootstrap.cfg
