# SPDX-FileCopyrightText: 2021 Andrius Štikonas <andrius@stikonas.eu>
# SPDX-FileCopyrightText: 2021 fosslinux <fosslinux@aussies.space>
#
# SPDX-License-Identifier: MIT 
[submodule "seed/stage0-posix"]
	path = seed/stage0-posix
	url = https://github.com/oriansj/stage0-posix
