[submodule "mescc-tools-seed"]
	path = sysa/mescc-tools-seed
	url = https://github.com/oriansj/mescc-tools-seed/
[submodule "bootstrap-seeds"]
	path = bootstrap-seeds
	url = https://github.com/oriansj/bootstrap-seeds
[submodule "blynn-compiler-oriansj"]
	path = sysa/blynn-compiler-oriansj
	url = https://github.com/oriansj/blynn-compiler
[submodule "sysa/mes"]
	path = sysa/mes
	url = https://gitlab.com/janneke/mes.git
[submodule "sysa/nyacc"]
	path = sysa/nyacc
	url = https://git.savannah.gnu.org/git/nyacc.git
[submodule "sysa/tcc-0.9.26p1"]
	path = sysa/tcc-0.9.26p1
	url = https://gitlab.com/janneke/tinycc
[submodule "sysa/mescc-tools-patched"]
	path = sysa/mescc-tools-patched
	url = https://github.com/oriansj/mescc-tools
