*-
*~
.#*
*.E
*.s
*.blood-elf
*.blood-elf-M1
*.blood-elf-hex2
*.gcc
*.gcc-o
*.gcc-out
*.gcc-stdout
*.go
*.guile
*.guile-log
*.log
*.trs
*.mes-gcc
*.mes-gcc-o
*.mes-gcc-out
*.mes-gcc-out
*.mes-gcc-stdout
*.mes-o
*.mes-out
*.mes-stdout
*.mes-tcc
*.mes-tcc-o
*.mes-tcc-out
*.mes-tcc-out
*.mes-tcc-stdout
*.mini-M1
*.mini-guile
*.mini-hex2
*.a
*.o
*.seed-out

/lib/tests/*/[0-9a][0-9a-z]-*
!/lib/tests/*/*.c
!/lib/tests/*/*.exit
!/lib/tests/*/*.stdout

/scaffold/argv
/scaffold/hello
/scaffold/main
/scaffold/micro-mes
/scaffold/tiny-mes

/scaffold/tests/[0-9a][0-9a-z]-*
/scaffold/tests/t.*
!/scaffold/tests/*.c
!/scaffold/tests/*.exit
!/scaffold/tests/*.stdout

/.config.make
/.store
/.tarball-version

/out
?
?.mes
\#*#
/doc/fosdem/fosdem.aux
/doc/fosdem/fosdem.log
/doc/fosdem/fosdem.nav
/doc/fosdem/fosdem.out
/doc/fosdem/fosdem.snm
/doc/fosdem/fosdem.tex
/doc/fosdem/fosdem.toc
/doc/fosdem/fosdem.*vrb
/doc/mes.1
/doc/mes.info
/doc/mes.pdf
/doc/mesar.1
/doc/mescc.1
/doc/version.texi
/mes.aux
/mes.cp
/mes.cps
/mes.fn
/mes.info
/mes.tmp
/mes.toc
/mes.vr
/mes.vrs

/config.status
/pre-inst-env
/bootstrap.sh
/build.sh
/check.sh
/install.sh
/uninstall.sh
/mes/module/mes/boot-0.scm
/scripts/mesar
/scripts/mescc.scm
/scripts/mescc
/doc/images/gcc-mesboot-graph.png
/GNUmakefile
/pre-inst-env
/doc/images/gcc-mesboot-graph.eps
/doc/images/gcc-mesboot-graph.pdf
/doc/web/
/config.sh
/include/mes/config.h
/gcc-lib
/mescc-lib
/bin
/0exit-42
/0hello-mes
/body-exit-42
/body-hello-mes
/exit-42
/hello-mes
core
/.config
a.out
